.list-container{
    background-color: rgb(235, 248, 253);
    width: 270px;
    padding: .6rem;
    border-radius: 5px;

}
.list-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-card-heading{
    margin: 0px;
}
.list-more-icon{
    color: rgb(94, 87, 87);
    font-size: 1.3rem;
}
.add-card-button{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: .4rem;
    border: none;
    width: 100%;
}
.list-input-card{
    height: 1.2rem;
    width: 100%;
    border: 0px;
    outline: none;
}
.text-area-input{
    border: none;
    outline: none;
    width: 92%;
    padding: .7rem;
}
.add-button-card{
    padding: .6rem;
    border: none;
    background-color: rgb(108, 108, 249);
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;

}
.add-card-close{
    font-size: 2rem;
    border: none;
    background-color: transparent;
}
.add-close-buttons{
    display: flex;
    align-items: center;
}
.options-in-card{
    background-color: #ffffff;
    border-radius: 3px;
    padding: 7px 9px 7px 9px;
}
.options-list-card{
    list-style: none;
    padding-left: 0px;
}
.optin-heading{
    text-align: center;
    margin-left: 5rem;
}
.list-items{
    margin-bottom: 7px;
    font-weight: 400;
    padding-left: .3rem;
}
.options-main-card{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.options-in-card{
    width: 260px;
    margin-top: 10rem;
    margin-left: 6rem;
}
.option-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close-option-btn{
    background-color: transparent;
    border: none;
}
.delete-option-btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}