.popup-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.popup-datacard{
    width: 50%;
    min-height: 85%;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.checkLists{
    list-style: none;
    padding-left: 0px;
}
.add-checklist-button{
    height: 38px;
    width: 120px;
    border: none;
    background-color: rgb(98, 98, 228);
    border-radius: 3px;
    color: #ffffff;
    font-weight: 500;
}
.checklist-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.add-checklist-button2{
    height: 32px;
    width: 70px;
    border: none;
    background-color: rgb(98, 98, 228);
    border-radius: 3px;
    color: #ffffff;
    font-weight: 500;
}
.checklist-input{
    width: 200px;
    min-height: 150px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 10px #888888;
    padding: 1rem;
}
.main-checklist-card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: 10.5rem;
    top: 0;
}
.add-checklist-head{
    text-align: center;
    margin: 0;
}
.line{
    color: rgb(230, 222, 222);
}
.input-text{
    height: 30px;
    width: 100%;
    outline-color: rgb(106, 198, 235);
    margin-bottom: 6px;
}

.checklist-add-header-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5rem;
}

.close-checkin{
    margin-left: 1rem;
    font-size: 20px;
}

.add-checkItem-button{
    height: 36px;
    width: 90px;
    font-size: .9rem;
    background-color: rgb(230, 236, 236);
    border: none;
    padding: .5rem;
    font-weight: 500;
    border-radius: 2px;
}
.item-input-text{
    width: 80%;
    height: 50px;
}
.checkItem-Add-btn{
    height: 30px;
    width: 80px;
    background-color: rgb(80, 143, 231);
    border: none;
    border-radius: 3px;
}
.checkItem-close-btn{
    height: 30px;
    width: 80px;
    background-color: rgb(198, 205, 204);
    border: none;
    border-radius: 3px;
    margin-left: 4px;
}