.board-bgcard{
    background-image: url("https://images.unsplash.com/photo-1486728297118-82a07bc48a28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dHJlbGxvfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    height: 85vh;
    background-size: cover;
    padding: 3rem;
}
.all-lists-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: .7rem;
    row-gap: .7rem;
}
.list-input-card{
    height: 34px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    color: black;
}
.add-list-button{
    background-color: transparent;
    height: 40px;
    width: 230px;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}
